<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Booking</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/seats.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav">
            <img src="/Images/logo.webp" class="brand-logo" alt="">
            <div class="nav-items">
                <a href="index.html">Drago Cinemas</a>
            </div>
        </div>

    </nav>

    <div class="movie-container">
        <ul class="showcase">
            <li>
              <div class="seat"></div>
              <small>N/A</small>
            </li>
      
            <li>
              <div class="seat selected"></div>
              <small>Selected</small>
            </li>
      
            <li>
              <div class="seat occupied"></div>
              <small>Occupied</small>
            </li>
        </ul>
        <div class="container">

              <% 
                var i = 0
              tickets.forEach((item) => {
                %>
                <div id="<%=`seat${i}`%>" class="seat">
                    
                        <h3 class="seat-number"><%=item['seat_number']%></h3>
                </div>
                        <p class="seat-class"><%=item['class']%></p>
              <%
              i++
          }) %>
        </div>
        <p class="text">
            You have selected <span id="count">0</span> seats for a price of $<span id="total">0</span>
        </p>
        <button onclick="handleClick()">Book Now</button>
    </div>

    <script src="/js/seats.js"></script>
    <script>
      const handleClick = () => {
        const movieId = window.location.pathname.slice(8, 9)
        const showId = window.location.pathname.slice(10)
          fetch(`/movies/${movieId}/${showId}`, {
              method: "POST",
              body: JSON.stringify({
                  tickets: selectSeats
              }),
              headers: {
                  "Content-type": "application/json; charset=UTF-8"
              }
          })
      }
    </script>
</body>
</html>